body{
	background-image: url("../images/background.jpg");
}

#headr{
	 font-size: 225%;
}
#subheadr{
	color:white;
}

p {

color: white;
font-size: 130%;
text-align: justify;
font-family: 'Vesper Libre', serif;
background-color:rgba(0, 0, 0, 0.5);
padding: 7px;
}


